---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>游녦 Bienvenido</h1>
			<p>
				Hola, soy Abderra. Mi canal se centra en Roblox; subo contenido
				de Roblox y, a veces, de programaci칩n o Roblox Studio. Tambi칠n
				comparto algunos gameplays.
			</p>
			<p>
				Esta p치gina es para que tengas a mano los recursos, anuncios y
				la documentaci칩n de cada tema que veamos, ya sea sobre Lua,
				Roblox o cualquier otra tecnolog칤a.
			</p>
                        <p>Investiga las p치ginas y mantente al d칤a con mis novedades.</p>
                        <p>
                                쯊e gusta mi contenido? Suscr칤bete a mi canal de YouTube
                                para no perderte ning칰n video.
                        </p>
                        <div class="youtube-subscribe">
                                <script src="https://apis.google.com/js/platform.js"></script>
                                <div
                                        class="g-ytsubscribe"
                                        data-channelid="UCpzkEfV29TDob2zRxl845vA"
                                        data-layout="full"
                                        data-count="default"
                                ></div>
                        </div>
                </main>
                <Footer />
        </body>
</html>
<style>
	h1 {
		text-align: center;
	}
</style>