---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
        <head>
                <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        </head>
        <body>
                <Header />
                <main>
                        <h1>👋 ¡Bienvenido a Soy Abderra!</h1>
                        <p>
                                Hola, soy Abderra. Mi canal se centra en Roblox; subo contenido de Roblox y, a veces, de programación o Roblox Studio.
                                También comparto algunos gameplays.
                        </p>
                        <p>
                                Esta página es para que tengas a mano los recursos, anuncios y la documentación de cada tema que veamos,
                                ya sea sobre Lua, Roblox o cualquier otra tecnología.
                        </p>
                        <p>Investiga las páginas y mantente al día con mis novedades.</p>
                </main>
                <Footer />
        </body>
</html>
