---
const today = new Date();
---

<footer>
        &copy; {today.getFullYear()} Soy Abderra. All rights reserved.
        <p>Mis redes sociales:</p>
        <div class="social-links">
                <a href="https://www.tiktok.com/@soyabderra" target="_blank" rel="noopener">
                        <span class="sr-only">TikTok</span>
                        <i class="fa-brands fa-tiktok" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/soyabderra" target="_blank" rel="noopener">
                        <span class="sr-only">Instagram</span>
                        <i class="fa-brands fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://discord.com/invite/Zfx9Yg855k" target="_blank" rel="noopener">
                        <span class="sr-only">Discord</span>
                        <i class="fa-brands fa-discord" aria-hidden="true"></i>
                </a>
        </div>
</footer>
<style>
        footer {
                padding: 2em 1em 6em 1em;
                background: linear-gradient(var(--gray-gradient)) no-repeat;
                color: rgb(var(--gray));
                text-align: center;
        }
        .social-links {
                display: flex;
                justify-content: center;
                gap: 1em;
                margin-top: 1em;
        }
        .social-links a {
                text-decoration: none;
                color: rgb(var(--gray));
        }
        .social-links i {
                font-size: 32px;
        }
        .social-links a:hover {
                color: rgb(var(--gray-dark));
        }
</style>
